/*******************************************************************
Set page background & main layout
*******************************************************************/

* {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

html {
    background-image: url(../images/about-header.png),
                        url(../images/linen-BG.png);
    background-position: top left, center;
    background-repeat: no-repeat, repeat;
    background-size: 50%, 100px;
}

/* Hide the header graphic when the screen gets too small */
@media screen and (max-width: 700px) {
    html {
        background-image: url(../images/linen-BG.png);
        background-position: center;
        background-repeat: repeat;
        background-size: 100px;
    }
}

body {    
    margin: 0 auto;
    max-width: 1000px;
    min-width: 400px;
    /*background-color: rgb(200,200,220);*/
    padding: 0 2%;
}


/*****************************************************************
Header settings
*****************************************************************/

h1 {
    font-size: 4rem;
    font-family: 'Donegal One', serif;
    text-align: center;
    color: rgb(25,25,25);
}

/*****************************************************************
Style navigation tabs
*****************************************************************/

nav ul {
    list-style: none;
    padding: 0;
    width: 350px;
    margin: 0 auto;
    display: flex;
}

nav li {
    /*display: inline-block;*/
    align-items: center;
}

nav a {
    font-size: 1.8rem;
    font-family: 'Donegal One', serif;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    /*width: 80px;*/
    text-align: center;
    color: rgb(25,25,25);
    padding: 5px 20px;
}

nav a:hover {
    background-image: radial-gradient(ellipse farthest-side at bottom, rgba(200,200,220,1), rgba(200,200,220,0));
}

.selectedTab {
    font-weight: bold;
    border-bottom: solid 5px rgb(50,50,220);
}

/*******************************************************************
Set up contact buttons
*******************************************************************/

#contactinfo > a {
    display: none;
}

#contactinfo ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 1%;
    right: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}

#contactinfo li {
    position: relative;
}

#contactinfo img {
    position: absolute;
    top: 19px;
    right: 9px;
    transform: rotate(-45deg);
    transition: transform 1s;
}

#contactinfo li a {
    font-size: 1.4rem;
    box-sizing: border-box;
    display: block;
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px 0;
    line-height: 50px;
    overflow: hidden;
    color: rgba(0,0,0,0);
    text-decoration: none;
    padding-left: 15px;
    /*background-image: url(block.png);*/
    background-position: right;
    background-repeat: no-repeat;
    transition: width 1s, color 1s;
}

#contactinfo li a:hover {
    width: 220px;
    color: white;
    background-color: blue;
}

#contactinfo li a:hover > img {
    transform: rotate(45deg);
}


/* The following rules collapse the contact icons into a menu for small screens */
@media screen and (max-width: 700px) {
    #contactinfo {
        position: absolute;
        top: 0;
    }
    
    #contactinfo > a {
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        height: 0;
        padding-top: 30px;
        width: 30px;
        overflow: hidden;
    }
    
    #open-contact {
        display: block;
        background-image: repeating-linear-gradient(rgb(125,125,125), rgb(125,125,125) 6px, transparent 6px, transparent 12px);
    }
    
    #contactinfo:target #open-contact {
        visibility: hidden;
    }
    
    #close-contact {
        background-image: linear-gradient(45deg, transparent 18px, rgb(125,125,125) 18px, rgb(125,125,125) 25px, transparent 0), linear-gradient(-45deg, transparent 18px, rgb(125,125,125) 18px, rgb(125,125,125) 25px, transparent 0);
        visibility: hidden;
    }
    
    #contactinfo:target #close-contact {
        visibility: visible;
    }
    
    #contactinfo ul {
        display: none;
        position: absolute;
        top: 35px;
        right: auto;
    }
    
    #contactinfo:target ul {
        display: block;
    }
    
    #contactinfo img {
        top: 10px;
    }
    
    #contactinfo li a {
        width: 220px;
        overflow: visible;
        color: white;
    }
}


/*****************************************************************
Syle section headers
*****************************************************************/

section {
    position: relative;
}

/* These are the circles that appear on the left of the section headers */
section > div {
    position: absolute;
    width: 70px;
    height: 70px;
    border: solid 1px gray;
    border-radius: 35px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
}

/* These are the rectangles with the section header title text */
h2 {
    font-size: 2.5rem;
    font-family: 'Donegal One', serif;
    color: white;
    text-transform: uppercase;
    border: solid 1px gray;
    height: 50px;
    line-height: 50px;
    margin-left: 35px;
    padding-left: 50px;
    position: relative;
    top: 12px;
}

/* This media query restyles the headers on smaller screens to remove the circles and allow
 * the text to break more naturally
*/
@media screen and (max-width: 700px) {
    section > div {
        display: none;
    }
    
    h2 {
        height: auto;
        line-height: normal;
        margin: 12px 0;
        padding: 10px 20px;
        position: static;
    }
}


/* Set background images for each section header cirlce*/
#aboutme div {
    background-image: url(../images/Info.png),
                        url(../images/green-marker-scribbles-square.png);
}

#aboutme h2 {
    background-image: url(../images/green-marker-scribbles-banner.png);
}

#aboutthissite div {
    background-image: url(../images/Brackets.png),
                        url(../images/blue-marker-scribbles-square.png);
}

#aboutthissite h2 {
    background-image: url(../images/blue-marker-scribbles-banner.png);
}

#professionalhighlights div {
    background-image: url(../images/Star.png),
                        url(../images/blue-marker-scribbles-square.png);
}

#professionalhighlights h2 {
    background-image: url(../images/blue-marker-scribbles-banner.png);
}

#employmenthistory div {
    background-image: url(../images/Clock.png),
                        url(../images/green-marker-scribbles-square.png);
}

#employmenthistory h2 {
    background-image: url(../images/green-marker-scribbles-banner.png);
}

#education div {
    background-image: url(../images/Mortarboard.png),
                        url(../images/red-marker-scribbles-square.png);
}

#education h2 {
    background-image: url(../images/red-marker-scribbles-banner.png);
}

#technicalskills div {
    background-image: url(../images/Wrench.png),
                        url(../images/black-marker-scribbles-square.png);
}

#technicalskills h2 {
    background-image: url(../images/black-marker-scribbles-banner.png);
}



/****************************************************************
*Set article styles 
*****************************************************************/
article * {
    font-size: 1.8rem;
}

h3 {
    font-size: 2rem;
    margin: 0.5rem 0 0;
}

article {
    border: solid 1px gray;
    background-color: white;
    margin: 5px 25px;
    padding: 1% 3%;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

article a {
    text-decoration: none;
    color: rgb(50,50,200);
}

article li {
    padding: 0.3rem 0;
}

article p {
    margin: 0.5rem 0;
}

article img {
    width: 20%;
    float: right;
    padding-left: 3%;
}

/* Increase the image width slightly on smaller screens so it reamins legible */
@media screen and (max-width: 700px) {
    article img {
        width: 35%;
    }
}

/* The next 4 rules format text classes specifically on the Resume page */
.position {
    font-weight: bold;
}

.employmentdates {
    font-style: italic;
}

.school {
    font-weight: bold;
}

#technicalskills article > ul > li {
    font-weight: bold;
}

/* The following rules apply background images to appropriate articles on the Resume page */
.dassault {
    background-image: url(../images/3DS_Logo.png);
}

.bps {
    background-image: url(../images/BPS-logo.png);
}

.mcmaster {
    background-image: url(../images/mcmaster-carr-logo.png);
}

.duke {
    background-image: url(../images/duke-logo.png);
}

.usc {
    background-image: url(../images/usc-logo.png);
}

.bryant {
    background-image: url(../images/bryant-logo.png);
}



/**************************************************************************
*  Style footer
**************************************************************************/

footer {
    position: absolute;
    right: 1%;
}

footer p {
    font-size: 1.5rem;
    text-align: right;
}

/* Shrink the footer image when it gets too wide for the screen */
@media screen and (max-width: 1100px) {
    footer img {
        width: 525px;
    }
}

/* Hide the footer image when the screen gets entirely too small */
@media screen and (max-width: 575px) {
    footer img {
        display: none;
    }
}


/*************************************************************************
* The following styles are specific to the Portfolio page and
* override some styles set previously throughout the site
*************************************************************************/

#portfolio > p {
    font-size: 1.8rem;
    padding: 1% 5%;
    margin: 0 25px;
}

#portfolio > p a {
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(50,50,200);
}

#portfolio h2 {
    margin-left: 0;
    position: static;
}

#portfolio section:nth-of-type(3n+1) h2 {
    background-image: url(../images/green-marker-scribbles-banner.png);
}

#portfolio section:nth-of-type(3n+2) h2 {
    background-image: url(../images/blue-marker-scribbles-banner.png);
}

#portfolio section:nth-of-type(3n+3) h2 {
    background-image: url(../images/red-marker-scribbles-banner.png);
}

#portfolio section img {
    float: none;
    width: 45%;
}

#portfolio section figure {
    border-top: 1px solid gray;
    margin: 0;
    padding: 2% 0;
    clear: right;
}

#portfolio section figure:last-of-type + p {
    border-top: 1px solid gray;
    padding-top: 2%;
    clear: both;
}

#portfolio section figure img {
    width: 60%;
    border: 1px solid gray;
    padding: 0;
}

#portfolio section figure figcaption {
    float: right;
    width: 37%;
    padding-bottom: 5px;
}

#portfolio section iframe {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    #portfolio section iframe {
        width: 320px
}
}

#visibility-link {
    font-size: 2.5rem;
    font-weight: bold;
    float: right;
    margin-right: 20%;
    margin-top: 8%;
    padding: 8px 5%;
    text-align: center;
    background-color: rgba(50,50,220,0.5);
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(50,50,220);
}

#visibility-link:hover {
    background-color: rgb(50,50,220);
}

.disclaimer {
    font-size: 1.5rem;
    font-style: italic;
    color: #ce4747;
    margin: 5px 5%;
}

.disclaimer a {
    font: inherit;
    color: inherit;
}

#portfolio section table {
    border-collapse: collapse;
}

#portfolio section td {
    border-top: 1px solid gray;
}

#portfolio section td img {
    width: auto;
    padding-right: 10px;
}