/*******************************************************************
Set page background & main layout
*******************************************************************/

* {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

html {
    background-image: url(../images/about-header.png),
                        url(../images/linen-BG.png);
    background-position: top left, center;
    background-repeat: no-repeat, repeat;
    background-size: 50%, 100px;
}

body {    
    margin: 0 auto;
    max-width: 1000px;
    min-width: 400px;
    /*background-color: rgb(200,200,220);*/
    padding: 0 2%;
}


/*****************************************************************
Header settings
*****************************************************************/

h1 {
    font-size: 4rem;
    font-family: 'Donegal One', serif;
    text-align: center;
    color: rgb(25,25,25);
}

/*****************************************************************
Style navigation tabs
*****************************************************************/

nav ul {
    list-style: none;
    padding: 0;
    width: 310px;
    margin: 0 auto;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 1.5rem;
    font-family: 'Donegal One', serif;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 60px;
    text-align: center;
    color: rgb(25,25,25);
    padding: 5px 20px;
}

nav a:hover {
    background-image: radial-gradient(ellipse farthest-side at bottom, rgba(200,200,220,1), rgba(200,200,220,0));
}

.selectedTab {
    font-weight: bold;
    border-bottom: solid 5px rgb(50,50,220);
}

/*******************************************************************
Set up contact buttons
*******************************************************************/

#contactinfo ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 1%;
    right: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}

#contactinfo li {
    position: relative;
}

#contactinfo img {
    position: absolute;
    top: 19px;
    right: 9px;
    transform: rotate(-45deg);
    transition: transform 1s;
}

#contactinfo a {
    font-size: 1.4rem;
    box-sizing: border-box;
    display: block;
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px 0;
    line-height: 50px;
    overflow: hidden;
    color: rgba(0,0,0,0);
    text-decoration: none;
    padding-left: 15px;
    /*background-image: url(block.png);*/
    background-position: right;
    background-repeat: no-repeat;
    transition: width 1s, color 1s;
}

#contactinfo a:hover {
    width: 220px;
    color: white;
    background-color: blue;
}

#contactinfo a:hover > img {
    transform: rotate(45deg);
}

/*****************************************************************
Syle section headers
*****************************************************************/

section {
    position: relative;
}

/* These are the circles that appear on the left of the section headers */
section > div {
    position: absolute;
    width: 70px;
    height: 70px;
    border: solid 1px gray;
    border-radius: 35px;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
}

/* Set background images for each section header cirlce*/
#aboutme div {
    background-image: url(../images/Info.png),
                        url(../images/green-marker-scribbles-square.png);
}

#aboutme h2 {
    background-image: url(../images/green-marker-scribbles-banner.png);
}

#aboutthissite div {
    background-image: url(../images/Brackets.png),
                        url(../images/blue-marker-scribbles-square.png);
}

#aboutthissite h2 {
    background-image: url(../images/blue-marker-scribbles-banner.png);
}

#professionalhighlights div {
    background-image: url(../images/Star.png),
                        url(../images/blue-marker-scribbles-square.png);
}

#professionalhighlights h2 {
    background-image: url(../images/blue-marker-scribbles-banner.png);
}

#employmenthistory div {
    background-image: url(../images/Clock.png),
                        url(../images/green-marker-scribbles-square.png);
}

#employmenthistory h2 {
    background-image: url(../images/green-marker-scribbles-banner.png);
}

#education div {
    background-image: url(../images/Mortarboard.png),
                        url(../images/red-marker-scribbles-square.png);
}

#education h2 {
    background-image: url(../images/red-marker-scribbles-banner.png);
}

#technicalskills div {
    background-image: url(../images/Wrench.png),
                        url(../images/black-marker-scribbles-square.png);
}

#technicalskills h2 {
    background-image: url(../images/black-marker-scribbles-banner.png);
}

/* These are the rectangles with the section header title text */
h2 {
    font-size: 2.5rem;
    font-family: 'Donegal One', serif;
    color: white;
    text-transform: uppercase;
    border: solid 1px gray;
    height: 50px;
    line-height: 50px;
    margin-left: 35px;
    padding-left: 50px;
    position: relative;
    top: 12px;
}



/****************************************************************
*Set article styles 
*****************************************************************/
article * {
    font-size: 1.8rem;
}

h3 {
    font-size: 2rem;
    margin: 0.5rem 0 0;
}

article {
    border: solid 1px gray;
    background-color: white;
    margin: 5px 25px;
    padding: 1% 3%;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

article a {
    text-decoration: none;
    color: rgb(50,50,200);
}

article li {
    padding: 0.3rem 0;
}

article p {
    margin: 0.5rem 0;
}

article img {
    width: 20%;
    float: right;
    padding-left: 3%;
}

/* The next three rules format text specifically on the Resume page */
.position {
    font-weight: bold;
}

.employmentdates {
    font-style: italic;
}

.school {
    font-weight: bold;
}

/* The following rules apply background images to appropriate articles on the Resume page */
.dassault {
    background-image: url(../images/3DS_Logo.png);
}

.bps {
    background-image: url(../images/BPS-logo.png);
}

.mcmaster {
    background-image: url(../images/mcmaster-carr-logo.png);
}

.duke {
    background-image: url(../images/duke-logo.png);
}

.usc {
    background-image: url(../images/usc-logo.png);
}

.bryant {
    background-image: url(../images/bryant-logo.png);
}



/**************************************************************************
*  Style footer
**************************************************************************/

footer {
    position: absolute;
    right: 1%;
}

footer p {
    font-size: 1.5rem;
    text-align: right;
}